@import "tailwindcss";


@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-text {
  background: linear-gradient(90deg, #6366f1, #8b5cf6, #06b6d4);
  background-size: 200% 200%;
  animation: animated-gradient 1.5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-wrapper {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}
